{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>Hello from {{ controllerName }}!</h1>
    <i>{{ controllerLocation }}</i>
{% endblock %}

{% block stylesheets %}
    <!-- link rel="stylesheet" href=""/ -->
{% endblock %}

{% block javascripts %}
    <!-- script src=""></script -->
{% endblock %}