<?php

namespace App\Presenters;

use App\Presenters\AbstractPresenter;

/**
 * Class Presenter
 * 
 * @author John Doe <john.doe@example.com>
 * @category Presenter
 * @see https://example.com
 */
class Presenter extends AbstractPresenter
{

    /**
     * 
     * @param object $data
     * @return array
     */
    public function format($data): array
    {
        return [];
    }

}